In [1]:
%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas
import mpld3
import random
mpld3.enable_notebook()

In [5]:
df = pandas.read_csv("gas_mathijs.csv")
df = df.drop(['family1', 'family2', 'family3', 'family4', 'family5', 'Mill'],1)
df.head()

       Time      Total
0  42736.21  27.189761
1  42736.25  36.235976
2  42736.29  43.227615
3  42736.33  41.904708
4  42736.38  39.153952

In [10]:
time_data_sorted = df.sort_values('Total', ascending=False)
index = 0
sorted_frame = time_data_sorted.reset_index(drop=True)
for i in range(len(sorted_frame)):
    sorted_frame.set_value(i, 'Time', i)

print sorted_frame.head()

   Time      Total
0     0  54.651009
1     1  54.285973
2     2  54.283633
3     3  53.577605
4     4  53.126239

In [12]:
sorted_frame.to_csv('output.csv', sep=',')